{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block headers %}

    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>


<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Landing Template</title>-->
<!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Poppins:300,400,700,900" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="{% static 'online_shop/style/style.css' %}">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  </head>-->